.event-wrapper {
  position: relative;

  .event-edit-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    margin-bottom: 20px;
    width: 100%;


    .edit-event-icon {
      background-image: url('../images/icons/edit.png');
      margin-left: auto;
    }

    p {
      color: $mw-black;
      letter-spacing: 2px;
      font-weight: 600;
      &:hover {
        color: $mw-orange;
      }
    }
  }

  .content-left {
    max-width: 770px;
    margin: 0 auto;
  }

  .content-right {
    right: 20px;
    top: 0;
    max-width: 770px;
    margin: 0 auto;
    @media only screen and (min-width: 1200px) {
      position: absolute;
    }
  }

  .event-distance,
  .event-type,
  .session-start-time,
  .session-end-time,
  .session-location,
  .event-level,
  .event-speed {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25%;
  }


  .event-title {
    &-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 2px dashed $mw-orange;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
    
    &-date {
      margin-left: auto;
    }
  }

  .session-info-wrapper,
  .session-time-wrapper {
    color: $mw-grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7px;

  }

  .session-info-wrapper {
    .distance-icon {
      background-image: url('../images/icons/distance.svg');
    }

    .type-icon {
      background-image: url('../images/icons/type.svg');
    }

    .level-icon {
      background-image: url('../images/icons/level.svg');
    }

    .speed-icon {
      background-image: url('../images/icons/speedometer.svg');
    }
  }

  .session-time-wrapper {
    .start-icon {
      background-image: url('../images/icons/start.svg');
    }

    .end-icon {
      background-image: url('../images/icons/finish.svg');
    }
  }

  .session-location {
    padding-bottom: 10px;

    .location-icon {
      background-image: url('../images/icons/location.svg');
    }
  }

  .subscribers-wrapper {
    font-family: 'Roboto slab', serif;

    .subscriber-action,
    .subscriber-action-wrapper {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      &-wrapper {
        cursor: pointer;
      }

      p {
        font-size: 18px;
      }

      .subscribers-count {
        margin-left: auto;
      }
    }

    .subscriber-action {
      padding-bottom: 15px;

      &:hover {
        color: $mw-orange;
      }
    }

    .subscribers-list-wrapper {
      display: block;
      font-size: 14px;
    }

    .subscribers-list {
      margin: 0;
      @media only screen and (max-width: 1200px) {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
      }
    }

    .subscribers-icon {
      background-image: url('../images/icons/add-group.svg');
      margin-right: 10px;
    }
  }

  .icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    height: 25px;
    margin-right: 5px;
    width: 25px;
  }

  p {
    margin: 0;
  }

  .general-info {
    max-width: 770px;
    margin: 0 auto;
    padding: 10px 23px;
    text-align: justify;

    .general-info-icon {
      background-image: url('../images/icons/info.svg');
    }
  }
}