.event-wrapper {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;

  .content-right {
    margin-left: 30px;
  }

  .event-distance,
  .event-type,
  .session-start-time,
  .session-end-time,
  .session-location {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }


  .event-title {
    &-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 2px dashed $mw-orange;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
    
    &-date {
      padding-left: 30px;
    }
  }

  .session-info-wrapper,
  .session-time-wrapper {
    color: $mw-grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7px;

    .event-distance,
    .session-start-time {
      padding-right: 30px;
    }
  }

  .session-info-wrapper {
    .distance-icon {
      background-image: url('../images/icons/distance.svg');
    }

    .type-icon {
      background-image: url('../images/icons/type.svg');
    }
  }

  .session-time-wrapper {
    .start-icon {
      background-image: url('../images/icons/start.svg');
    }

    .end-icon {
      background-image: url('../images/icons/finish.svg');
    }
  }

  .session-location {
    padding-bottom: 10px;

    .location-icon {
      background-image: url('../images/icons/location.svg');
    }
  }

  .subscribers-wrapper {
    font-family: 'Roboto slab', serif;

    .subscriber-action,
    .subscriber-action-wrapper {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      &-wrapper {
        cursor: pointer;
      }

      p {
        font-size: 18px;
      }

      .subscribers-count {
        margin-left: auto;
      }
    }

    .subscriber-action {
      padding-bottom: 15px;

      &:hover {
        color: $mw-orange;
      }
    }

    .subscribers-list-wrapper {
      display: block;
      font-size: 14px;
    }

    .subscribers-list {
      margin: 0;
      padding-left: 30px;
    }

    .subscribers-icon {
      background-image: url('../images/icons/add-group.svg');
      margin-right: 10px;
    }
  }

  .icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    height: 25px;
    margin-right: 5px;
    width: 25px;
  }

  p {
    margin: 0;
  }
}