footer {
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  background: $mw-grey;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  > div {
    text-align: center;
    width: 33.3%;
  }

  .developer {
    color: #8d8d8d;
    font-size: 14px;
    letter-spacing: 1px
  }

  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .instagram,
    .facebook {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      display: block;
      width: 30px;
      height: 30px;

    }

    .facebook {
      background-image: url('../images/icons/facebook.png');
      margin-right: 10px;
    }

    .instagram {
      background-image: url('../images/icons/instagram.png');
    }
  }
}