@import '../settings/colors';

html {
  height: 100%;
}

body {
  font-family: 'Kreon', serif;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.morewatts {
  color: $mw-orange;
}

.layout-wrapper {
  min-height: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 85px;
}