<h1>Create a new event</h1>

<form method="POST" action="/submit-create-event" id="create-event">
  <input type="text" class="title" name="title" placeholder="title">
  <input type="text" class="date" name="date" placeholder="date">
  <input type="text" class="type" name="type" placeholder="type">
  <input type="text" class="city" name="city" placeholder="city">
  <input type="text" class="level" name="level" placeholder="level">
  <input type="text" class="start-time" name="startTime" placeholder="start time">
  <input type="text" class="start_location" name="startLocation" placeholder="start location">
  <input type="text" class="distance" name="distance" placeholder="distance">
  <input type="submit" class="create-event-submit">
</form>
