.form-page {
  .main-header {
    margin-bottom: 0;
  }
  .main-content {
    background-image: url('../images/form-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto slab", serif;
  }

  .create-event.wrapper {
    background: rgba(253, 183, 19, 0.9);
    border-radius: 3px;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 50px;
    padding: 20px;
  }

  h1,
  form {
    padding: 0 10px;
  }

  form.create-event-form {
  
    label,
    input,
    textarea,
    select {
      box-sizing: border-box;
      width: 100%
    }

    input,
    textarea,
    select {
      margin-bottom: 10px;
      padding: 10px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="submit"] {
      cursor: pointer;
      background: #000;
      border: none;
      color: #FDB713;
      font-weight: 600;
      font-size: 20px;
    }
  }
}

